.cell {
  --outer-radius: 80px;
  --inner-radius: calc(var(--outer-radius) * sin(60deg));
  --offset-x: 8px;
  --spacing: calc(var(--inner-radius) + var(--offset-x));

  position: absolute;
  width: var(--outer-radius);
  height: var(--outer-radius);
  left: var(--cell-base-left, 0);
  top: var(--cell-base-top, 0);
  translate: calc(var(--r) * sin(60deg) * var(--spacing)) calc(var(--r) * cos(60deg) * var(--spacing) + var(--q) * var(--spacing));

  clip-path: polygon(0 45%, 23% 4px, 77% 4px, 100% 45%, 100% 55%, 77% calc(100% - 4px), 23% calc(100% - 4px), 0 55%);
  cursor: pointer;

  &_blocked {
    --cell-border-color: var(--cell-border-color-blocked);
    --cell-border-color-hover: var(--cell-border-color-blocked);
  }

  &_coords[data-coord^="0,"] &__bg use {
    color: blue;
  }
  &_coords[data-coord$=",0"] &__bg use {
    color: green;
  }
  &_coords[data-coord="0,0"] &__bg use {
    color: red;
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & use {
      transition: color .3s ease-out, stroke-dasharray .3s ease-in, stroke-width .3s ease-out;
      color: var(--cell-border-color);
      stroke-dasharray: 4px var(--cell-stroke-dasharray, 0px);
      animation: rotation 2s linear infinite;
      animation-play-state: var(--cell-animation-state, paused);

      @keyframes rotation {
        from {
          stroke-dashoffset: 0px;
        }

        to {
          stroke-dashoffset: -12px;
        }
      }
    }
  }

  &:hover {
    --cell-border-color: var(--cell-border-color-hover);
    --cell-stroke-dasharray: 8px;
    --cell-animation-state: running;
    --cell-stroke-increase: 2;
  }


  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    pointer-events: none;
  }
}