.shadow-cell {
  position: absolute;
  left: 0;
  top: 0;
  translate: calc(var(--x, 0) * 1px - 50%) calc(var(--y, 0) * 1px - 50%);
  width: 80px;
  height: 80px;
  pointer-events: none;
  opacity: 0.8;
  transition: opacity .3s ease-out, scale .3s ease-out;
  scale: 0.8;

  &_hidden {
    scale: 1;
    opacity: 0;
    pointer-events: none;
  }
}