:root {
  --hazelnut-color: #CFB095;
  --parchment-color: #F1E9D2;
  --cosmic-latte-color: #FFF8E7;
  --cocoa-cupcake-color: #967859;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;

  &__field {
    --cell-border-color: var(--hazelnut-color);
    --cell-border-color-hover: var(--hazelnut-color);
    --cell-border-color-blocked: var(--cosmic-latte-color);
    --cell-bg-color: var(--cosmic-latte-color);
    --cell-size: 80px;

    flex-grow: 1;
    height: 1px;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    width: 100%;
    align-items: center;
    gap: 20px;
  }

  &__main-grid {
    display: flex;
    justify-content: center;
    border: 2px solid var(--hazelnut-color);
    background-color: var(--cosmic-latte-color);
    height: 800px;
    align-items: center;

    --cell-base-left: calc(50% - var(--cell-size)/ 2);
    --cell-base-top: calc(50% - var(--cell-size) / 2);
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--hazelnut-color);
    background-color: var(--cosmic-latte-color);
    height: 800px;
    --cell-base-left: calc(var(--cell-size)/ 2);
    --cell-base-top: calc(var(--cell-size) / 2);
  }
}